extends layout.inc

block setting
	include basic_setting.inc.jade

	fieldset
		legend 聊天设置

		| 消息未读数：
		input(type="text", value=56, ng-model='talk.wx_talk_unread', ng-change='draw()')
		| &nbsp; &nbsp;
		span
			button(onclick="document.getElementById('wx_bg').click()") 上传背景图片
			input#wx_bg(type="file", accept='image/png,image/gif,image/jpg', my-file-select="set_bg(files)")
		| &nbsp; &nbsp;
		button(ng-click="rm_bg()") 清除背景图片
		hr(style="border-top:1px solid #ddd")

		div.wx-avatar
			span 对方信息：
			br
			img(src="{{talk.avatar_left}}")
			input(type="text", ng-model="talk.wx_talk_title", ng-change='draw()')
			br
			button(ng-click='random_avatar("left")') 随机头像
			br
			button(onclick="document.getElementById('ava1').click()") 上传头像
			input#ava1(type="file", accept='image/png,image/gif,image/jpg', my-file-select="set_avatar('left', files)")
			br
			button(ng-click='set_name()') 随机姓名

		div.wx-avatar
			span 我方信息：
			br
			img(src="{{talk.avatar_right}}")
			input(type="text", value="小沈阳")
			br
			button(ng-click='random_avatar("right")') 随机头像
			br
			button(onclick="document.getElementById('ava2').click()") 上传头像
			input#ava2(type="file", accept='image/png,image/gif,image/jpg', my-file-select="set_avatar('right', files)")

	fieldset.tabs
		legend 聊天记录

		ul
			li(ng-click='tab=1;msg_type="time"', ng-class="{'active':tab==1}") 时间/提示框
			li(ng-click='tab=2;msg_type="text"', ng-class="{'active':tab==2}") 文字
			li(ng-click='tab=3;msg_type="voice"', ng-class="{'active':tab==3}") 语音
			li(ng-click='tab=4;msg_type="video"', ng-class="{'active':tab==4}") 视频
			li(ng-click='tab=5;msg_type="pay_send"', ng-class="{'active':tab==5}") 转账
			li(ng-click='tab=6;msg_type="pay_rec"', ng-class="{'active':tab==6}") 收钱

		div.tabcnts
			span
				span(ng-show='tab==1') 内容：
				span(ng-show='tab==2') 内容：
				span(ng-show='tab==3') 时长(秒)：
				span(ng-show='tab==4') 时长(秒)：
				span(ng-show='tab==5') 金额(元)：
				span(ng-show='tab==6') 金额(元)：

			input(ng-model='msg_cnt')
			span.error(ng-show="msg_cnt == ''") 请输入内容

			span.add_msg
				button(ng-click="add_msg('left')") 他发
				button(ng-click="add_msg('right')") 我发
				button(ng-click="clear_msg()") 清空

		table
			tr
				th(width="70px") 类型
				th 对方
				th 我方
				th(width="45px") 操作
			tr(ng-repeat='msg in msgs')
				td {{ t(msg.type) }}
				td
					span(ng-if="msg.align == 'left'") {{msg.content}}
				td
					span(ng-if="msg.align == 'right'") {{msg.content}}
				td
					button(ng-click='rm($index)') 删除