extends layout.inc

block setting
	include basic_setting.inc.jade

	fieldset
		legend 聊天设置

		| 消息未读数：
		input#wx-unread(type="number", value=56)
		br

		div.wx-avatar
			span 对方信息：
			br
			img(src='https://ss2.baidu.com/6ONYsjip0QIZ8tyhnq/it/u=2829529271,2317257416&fm=58')
			input(type="text", value="赵本山")
			br
			button 随机姓名
			br
			button 随机头像
			br
			button 上传头像

		div.wx-avatar
			span 我方信息：
			br
			img(src='https://ss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=1687009699,2047836833&fm=58')
			input(type="text", value="小沈阳")
			br
			button 随机头像
			br
			button 上传头像

	fieldset
		legend 聊天记录

		ul.tabs
			li
				input(type="radio", name="tab", id='t1', checked)
				label(for='t1') 时间/提示框
				div.tab_cnt
					| 内容：
					input(type="text", value="12:30")
			li
				input(type="radio", name="tab", id='t2')
				label(for='t2') 文字
				div.tab_cnt
					| 内容：
					input(type="text", value="师傅，过节来个红包呗")
			li
				input(type="radio", name="tab", id='t3')
				label(for='t3') 语音
				div.tab_cnt
					| 时长(秒)
					input(type="number")
			li
				input(type="radio", name="tab", id='t4')
				label(for='t4') 视频
				div.tab_cnt
					| 时长(秒)
					input(type="number")
			li
				input(type="radio", name="tab", id='t5')
				label(for='t5') 转账
				div.tab_cnt
					| 金额(元)
					input(type="number")
			li
				input(type="radio", name="tab", id='t6')
				label(for='t6') 收钱
				div.tab_cnt
					| 金额(元)
					input(type="number")
			li.clear

		div#add_msg
			button 他发
			button 我发

		table
			tr
				th 类型
				th 对方
				th 我方
				th 操作