#path path1 / path2 / path3

.cell(ng-repeat='item in list', ng-init="$last && fb()")
	img.avatar(ng-src='{{item.author.avatar}}')
	p
		a.user(href="/movie.html#/user/{{item.author.userid}}") {{item.author.name}}
		| ：
		a.douban(href="{{item.subject.alt}}", target="_blank", title="{{item.subject.original_title}}") {{item.subject.title}}({{item.subject.year}})
	.msg
		.saying {{item.saying}}
		.pics
			a(ng-repeat='pic in item.imgs', href="{{pic.big}}", class="fancybox", rel='group-{{$parent.$index}}', title="test title")
				img(ng-src='{{pic.small}}')
		p
			span.created_at 发布于：{{item.created_at|ago}}

.pager pager