#path path1 / path2 / path3

.cell(ng-repeat='item in list', ng-init="$last && fb()")
	img.avatar(ng-src='{{item.avatar}}')
	p.user 
		a(href="{{item.user.link}}") {{item.user.name}}
		| ：
	.msg
		.saying {{item.saying}}
		.pics
			a(ng-repeat='pic in item.imgs', href="{{pic.big}}", class="fancybox", rel='group-{{$parent.$index}}', title="test title")
				img(ng-src='{{pic.small}}')
		p 发布于：
			span.created_at {{item.created_at}}

.pager pager