#path &gt; 发布电影截图

#new
	.cell 描述：
		br
		textarea(rows=3, ng-model="saying", ng-focus="clear_desc()") http://fex.baidu.com/webuploader/demo.html
	.cell 电影：
		span.error(ng-show="0 == movie_id") 请选择电影名称
		br
		select.mvs(ng-model="movie_id", style="width:710px")
	.cell 截图(最多10张，最少1张)：
		span.error(ng-show="0 == img_len") 请上传截图 
		br
		#uploader
			#queueList
				#dragarea
					br
					br
					#filePicker 点击选择图片
					| 或者将截图拖到这里，最多8张
				ul#fileList
				div.clear
			.statusbar.hide
				.progress
					span 0%
					span.bg
				.info
				.btns
					#filePicker2.btn2 继续添加
					.uploadBtn.btn2.btn 开始上传
			.clear

	.cell 完成：
		br
		span.btn(ng-click="preview()") 预览
		| &nbsp; &nbsp; 
		span.btn.submit(ng-click="submit()") 发布

	.cell.preview(ng-show="is_preview")
		img.avatar(ng-src='{{p.avatar}}')
		p.user 
			a(href="javascript:;") {{p.name}}
			| ：
		.msg
			.saying {{saying}}
			.pics
				a(ng-repeat='pic in upimgs', href="{{pic.big}}", class="fancybox", rel='group-0', title="test title")
					img(ng-src='{{pic.small}}')
			p
				span.created_at  发布于：几秒后