#path &gt; 发布电影截图

#new
	.cell 描述：
		br
		textarea(rows=3) http://fex.baidu.com/webuploader/demo.html
	.cell 电影：
		br
		select.mvs(ng-model="movie_id", style="width:100%")
	.cell
		| uploader
	.cell
		a 预览
		a 发布
	.cell.preview