.box(ng-show="'/new'==path")
	h3 # 发帖提示
	ul
		li 预览前需要先上传图片
		li 描述内容可以留空
		li 遵守当地法律法规
		li 尽量保证图片质量


.box(ng-show="is_logged_in && '/new'!=path")
	a(href="#new") 发布电影截图

.box(ng-bind="path") 2

.box 3

.box(ng-bind="b4") 4


.box(ng-show="is_logged_in")
	span(ng-bind="user.email")
	| - 
	span(ng-bind="user.userid")