doctype html
html(ng-app='jietu8')
	head
		meta(charset='utf-8')
		title {{page.title}} | 截图吧

		| <% bundleName:core_css %>
		block static

	body
		div#topbar(ng-include="'/tpls/movie/tpls/header.html'" ng-controller="loginCtrl")

		div#main
			block main

		div#foot.clear(ng-include="'/tpls/movie/tpls/footer.html'")