
# Mac crap
.DS_Store

public/*
!public/index.php
client/asset_manifest.json
client/node_modules/*
client/bower_components/*

client/tools/nick.txt
client/tools/baidu_avatar.txt
client/tools/weibo_avatars.txt
client/tools/ftp.sh
