
# Mac crap
.DS_Store

public/*.html
public/static/*
public/tpls/*
!public/static/imgs/
client/asset_manifest.json
client/node_modules/*
client/bower_components/*

client/tools/nick.txt
client/tools/baidu_avatar.txt
client/tools/weibo_avatars.txt
