/* phone */

#main {
	width: 1200px;
	margin: 20px auto;
	box-shadow: 0 0 20px #ddd;
}

#left {
	float: left;
	padding: 20px;
}

#left dl {
	margin-bottom: 20px;
}

#left dt {
	font-weight: bolder;
	font-size: 14px;
	border-bottom: 1px solid #2FBEE6;
	text-indent: 1em;
}

#left dd a {
	display: inline-block;
	padding: 3px 30px;
}

#left dd a:hover, #left dd a.act {
	background-color: #17C7D1;
	color: #fff;
}

#right {
	margin-left: 150px;
	background-color: #fff;
	border-left: 1px solid #eee;
}

#top {
	border-bottom: 1px solid #eee;
	padding: 10px;
}

#wrapper {
	padding: 10px;
}

/* wx */

#wx-setting {
	float: left;
}

#wx-setting input[type="text"], #wx-setting input[type="number"] {
	width: 50px;
}

#wx-preview {
	width: 400px;
	height:600px;
	overflow: hidden;
	float: right;
}

#wx-preview canvas {
	transform:scale(0.5, 0.5);
	transform-origin: 0 0;
}