/* movie */

$border_color: #e5e5e5;

/* 列表 */

#left {
	float: left;
	width: 750px;
	border-right: 1px solid $border_color;

	#path {
		padding: 10px;
		border-bottom: 1px solid $border_color;
	}

	.cell {
		margin: 20px;

		.avatar {
			width: 60px;
			height: 60px;
			float: left;
			margin-right: 20px;
		}

		.user {
			font-weight: bold;
		}

		.douban {
			float: right;
			color: #279337;
			padding: 2px 10px;
			box-shadow: 0 1px 2px #ddd;
			border: 1px solid #efefef;

			&:hover {
				border-color: #279337;
				background-color: #279337;
				color: #fff;
			}
		}

		.msg {
			margin-left: 70px;
			padding-bottom: 10px;
			border-bottom: 1px solid $border_color;


			.saying {
				padding: 10px 20px;
			}

			.pics {
				width: 640px;
				white-space:nowrap;
				overflow-x: scroll;

				a {
					margin-right: 10px;

					&:last-child {
						margin: 0;
					}

					img {
						max-height: 170px;
					}
				}
			}

			.created_at {
				color: #999;
			}
		}
	}

	.pager {
		text-align: center;
		margin: 20px;
	}
}

#new {

	textarea {
		width: 100%;
		border-color: #b6b6b6;
	}

	.cell {
		margin: 20px;

		.btn {
			padding: 3px 15px;
			border: 1px solid #dfdfdf;
			border-radius: 3px;
			cursor: pointer;

			&:hover {
				background-color: #f0f0f0;
			}

			&.submit {
				float: right;
				background-color: #00b7ee;
				color: #fff;
				border: none;

				&:hover {
					background-color: #00a2d4;
				}
			}
		}

		&.preview {
			border-top: 1px solid #aaa;
			padding-top: 20px;
		}
	}

	#uploader {
		#queueList {
			padding: 10px;
			box-shadow: inset 0 3px 6px #ddd;
		}

		#dragarea {
			min-height: 100px;
			text-align: center;
			border: 3px dashed #e6e6e6;
			padding: 3px;
			color: #ccc;

			&.webuploader-dnd-over {
				background-color: #ddd;
				border-color: #999;
			}
		}

		#fileList {
			li {
				position: relative;
				float: left;
				padding: 4px;
				margin: 5px;
				width: 120px;
				height: 100px;
				box-shadow: 0 1px 2px rgba(0,0,0, 0.75);
				border-radius: 3px;

				img {
					vertical-align: middle;
				}
			}
		}

		.file-panel, .success, .imggress, .error {
			position: absolute;
			color: #fff;
			top: 0;
			right: 0;
			height: 0;
			width: 100%;
			background-color: rgba(0, 0, 0, .5);
			overflow: hidden;
			text-align: right;
			box-shadow: 0px 2px 5px #333;

			span {
				cursor: pointer;

				&:hover {
					color: #00b7ee;
				}
			}
		}

		.success, .imggress {
			height: auto;
			background-color: #4CC30D;
			text-align: center;
		}

		.error {
			height: auto;
			top: auto;
			bottom: 0;
			background-color: red;
			color: #fff;
			text-align: center;
			box-shadow: 0px -2px 5px #333;	
		}

		.statusbar {
			.progress, .info {
				float: left;
				line-height: 35px;
			}

			.progress {
				width: 200px;
				height: 20px;
				line-height: 20px;
				position: relative;
				border-radius: 3px;
				border: 1px solid #ddd;
				margin-right: 20px;
				margin-top: 5px;

				span {
					position: absolute;
					left: 0;
					top: 0;
					width: 200px;
					height: 20px;
					text-align: center;

					&.bg {
						background-color: #4CC30D;
						z-index: -1;
					}
				}
			}

			.btns {
				float: right;
				
				.btn2 {
					float: left;
					padding: 3px 15px;
				}
				
				.uploadBtn {
					padding: 2px 15px;
					margin-top: 3px;
				}
			}
		}
	}

}

#right {
	width: 250px;
	margin-left: 750px;

	.box {
		padding: 10px;
		border-bottom: 1px solid $border_color;

		h3 {
			margin: 0;
		}

		li {
			list-style: disc;
			margin-left: 20px;
		}
	}
}



// webuploader start
.webuploader-container {
	position: relative;
}
.webuploader-element-invisible {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px,1px,1px,1px);
}
.webuploader-pick {
	position: relative;
	display: inline-block;
	cursor: pointer;
	background: #00b7ee;
	padding: 10px 15px;
	color: #fff;
	text-align: center;
	border-radius: 3px;
	overflow: hidden;
}
.webuploader-pick-hover {
	background: #00a2d4;
}

.webuploader-pick-disable {
	opacity: 0.6;
	pointer-events:none;
}

.webuploader-pick {
	padding: 3px 15px;
}
// webuploader end