/* movie */

/* hacing fancybox img-urls */

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
	background-image: url("/static/imgs/fancybox/fancybox_sprite.png");
}
.fancybox-overlay {
	background: url("/static/imgs/fancybox/fancybox_overlay.png");
}
#fancybox-loading div {
	background-image: url("/static/imgs/fancybox/fancybox_loading.gif");
}
.fancybox-nav {
	background: transparent url("/static/imgs/fancybox/blank.gif");
}

$border_color: #e5e5e5;


#left {
	float: left;
	width: 750px;
	border-right: 1px solid $border_color;

	#path {
		padding: 10px;
		border-bottom: 1px solid $border_color;
	}

	li {
		margin: 20px;

		.avatar {
			width: 60px;
			height: 60px;
			float: left;
			margin-right: 20px;
		}

		.msg {
			margin-left: 70px;
			padding-bottom: 10px;
			border-bottom: 1px solid $border_color;


			.saying {
				padding: 10px 20px;
			}

			.pics {
				width: 640px;
				white-space:nowrap;
				overflow-x: scroll;

				a {
					margin-right: 10px;

					&:last-child {
						margin: 0;
					}

					img {
						max-height: 170px;
					}
				}
			}
		}
	}

	.pager {
		text-align: center;
		margin: 20px;
	}
}

#right {
	width: 250px;
	margin-left: 750px;
	padding: 10px 0;

	.box {
		padding: 10px;
		border-bottom: 1px solid $border_color;
	}
}