/* movie */

$border_color: #e5e5e5;

/* 列表 */

#left {
	float: left;
	width: 750px;
	border-right: 1px solid $border_color;

	#path {
		padding: 10px;
		border-bottom: 1px solid $border_color;
	}

	li {
		margin: 20px;

		.avatar {
			width: 60px;
			height: 60px;
			float: left;
			margin-right: 20px;
		}

		.msg {
			margin-left: 70px;
			padding-bottom: 10px;
			border-bottom: 1px solid $border_color;


			.saying {
				padding: 10px 20px;
			}

			.pics {
				width: 640px;
				white-space:nowrap;
				overflow-x: scroll;

				a {
					margin-right: 10px;

					&:last-child {
						margin: 0;
					}

					img {
						max-height: 170px;
					}
				}
			}
		}
	}

	.pager {
		text-align: center;
		margin: 20px;
	}
}

#new {
	margin: 20px;

	textarea {
		width: 100%;
		border-color: #b6b6b6;
	}

	.cell {
		margin-bottom: 10px;
	}

}

#right {
	width: 250px;
	margin-left: 750px;

	.box {
		padding: 10px;
		border-bottom: 1px solid $border_color;

		h3 {
			margin: 0;
		}

		li {
			list-style: disc;
			margin-left: 20px;
		}
	}
}



// webuploader start
.webuploader-container {
	position: relative;
}
.webuploader-element-invisible {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px,1px,1px,1px);
}
.webuploader-pick {
	position: relative;
	display: inline-block;
	cursor: pointer;
	background: #00b7ee;
	padding: 10px 15px;
	color: #fff;
	text-align: center;
	border-radius: 3px;
	overflow: hidden;
}
.webuploader-pick-hover {
	background: #00a2d4;
}

.webuploader-pick-disable {
	opacity: 0.6;
	pointer-events:none;
}

// webuploader end